<!-- Ion App Layout Initiated -->
<ion-app [dir]="ing" [ngClass]="{'bwTheme': defaultColor}">
  <ion-split-pane contentId="main-content">
      <!-- English Side Menu-->
      <ion-menu *ngIf="ing_star=='start'" side="start" content-id="main-content" menuId="mainMenu2">
          <div *ngTemplateOutlet="menuItems"></div>
      </ion-menu>
      <!-- Arabic Side Menu-->
      <ion-menu *ngIf="ing_star=='end'" side="end" content-id="main-content" menuId="mainMenu2">
          <div *ngTemplateOutlet="menuItems"></div>
      </ion-menu>

      <!-- MenuItems Template Managed-->
      <ng-template #menuItems>
          <!-- Name displaying area in Side Menu-->
          <ion-header (click)="pageMove('manage-account');">
              <ion-toolbar translucent  [ngStyle]="{'--background': preferColorTheme}" 
                  class="ion-d-flex w-100P ion-align-items-center ion-justify-content-between">
                  <ion-title size="small"
                      class="text-white ion-font-sm ion-text-capitalize ion-lower-case ion-text-left">{{appTitle}}
                  </ion-title>
                  <ion-icon slot="end" name="chevron-forward" class="chevronIcon ion-margin-end-n1"></ion-icon>
              </ion-toolbar>
          </ion-header>
          <!-- Menu Items area -->
          <ion-content>
              <ion-list class="ion-no-margin ion-no-padding sideNav" lines="none" style="padding:0px">
                  <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row>
                        <ion-col>
                            <ion-list class="ion-padding ion-segment-button" style="padding:0px">
                                <ion-item class="ion-no-margin"
                                    (click)="pageMove('home');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate> Home</ion-label>
                                </ion-item>
                                <!-- <ion-item class="ion-no-margin" (click)="pageMove('category');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate> Categories</ion-label>
                                </ion-item> -->
                                <ion-item class="ion-no-margin" (click)="pageMove('cart');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate> My Cart</ion-label>
                                </ion-item>
                                <ion-item class="ion-no-margin" (click)="pageMove('orders');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate>My Orders</ion-label>
                                </ion-item>
                                <ion-item class="ion-no-margin" (click)="pageMove('wishlist');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate> My Wishlist</ion-label>
                                </ion-item>
                                <ion-item class="ion-no-margin" (click)="pageMove('moreinfo');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate> More Info</ion-label>
                                        <ion-label slot="end">
                                          {{version}}
                                        </ion-label>
                                </ion-item>
                                <ion-item class="ion-no-margin" (click)="pageMove('logout');">
                                    <ion-label
                                        class="ion-font-sm ion-text-black ion-no-margin ion-text-wrap"
                                        translate> Logout</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-list>
              <ion-grid class="sidemenu_footer">
                <ion-row>
                    <ion-col size="12" class="ion-font-sm">
                        Design and Developed by <a [href]="developer.url" target="_blank">{{developer.name}}</a>
                    </ion-col>
                </ion-row>
              </ion-grid>
          </ion-content>
      </ng-template>
      <!-- Footer Tabs Initiated -->
      <div class="ion-page" id="main-content">
          <ion-content>
              <ion-router-outlet></ion-router-outlet>
          </ion-content>
      </div>
      <!-- Footer Tabs Ended -->
  </ion-split-pane>
</ion-app>
<!-- Ion App Layout Ends -->
