ion-content {
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    background: #fff;
    --background: #fff;
    --background-color: #fff;
  }
  .splash
  {
    background:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }
  .ios {
  
    .splash {
  
        height: calc(100vh - 80px);
  
    }
  
  }
  